*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    text-align: center;
}

.header h1{
    background-color: blueviolet;
    color: #fff;
    padding: 10px;
}

#next-year h1{
    font-size: 40px;
    padding: 15px;
}

.timer{
    background-color: blueviolet;
    color: #fff;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
}